table {
    border-collapse: collapse;
    width: 100%;
    color: #000070;
}

.contacts_table {
    height: calc(100% - 144px);
    padding: 24px 70px;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
    padding: 20px;
    font-weight: 900;

}

td {
    padding: 20px;
}

.tabs-data {
    display: flex;
    justify-content: space-between;
}

.contacts_button_edit {
    text-align: right;
}


.bubbling-container {
    padding: 5px;
    border: 1px solid black;
    width: 200px;
}

.bubbling-container p {
    display: block;
    position: relative;
    padding: 5px;
    border: 1px solid green;
}

.bubbling-container span {
    display: block;
    position: relative;
    padding: 5px;
    border: 1px solid red;
    margin-top: 5px;
}

.user-container {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

.user-container__remove-btn-wrapper {
    text-align: right;
    margin-top: 20px;
}