<div class="contacts_table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>John</td>
                <td>Rambo</td>
                <td>+7 (999) 999-99-99</td>
                <td class="contacts_button_edit"><img src="../../../assets/img/edit.svg" alt=""></td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>89054567854</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>89764563467</td>
            </tr>
        </tbody>
    </table>

</div>