<div class="contacts_table">
    <table>
        <thead>
            <tr>
                <th>User name</th>
                <th>email</th>
                <th>Phone</th>
                <th>website</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.website }}</td>
                <td class="edit_contacts">
                        <routerLink routerLink="/list-contact/edit-contact/{{ user.id }}">
                        <img src="../../../assets/img/edit.svg" alt=""></routerLink>
                        <img src="../../../assets/img/bucket.svg" alt="" (click)="deleteContact( user.id )">
                </td>
            </tr>
        </tbody>
    </table>

</div>